@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../assets/css/prism-dracula.css";

/* rehype-code-titles */

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 rounded-t-lg dark:text-gray-200 dark:bg-gray-900;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

/* 
rehype-prism-plus styles
from: https://www.npmjs.com/package/rehype-prism-plus
*/

pre {
  overflow: auto;
}

/* padding fix */
pre[class*='language-'] {
  padding: 1rem !important;
}

.code-highlight {
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2);
  /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2);
  /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  /* Set highlight bg color */
  border-left: 4px solid rgb(59, 130, 246);
  /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  /* Line number color */
  content: attr(line);
}